<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
        <div class="card">
          <div class="card-block">
           <h4 class="card-title"><%= link_to @post.title, post_path(@post) %></h4>
           <p class="card-text"><%= @markdown.render(@post.body).html_safe %></p>
          </div>
          <div class="card-footer">
            <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-warning' %>
            <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning' %>
            <%= link_to 'Back', posts_path, class: 'btn btn-warning' %>
            <%= "#{@post.impressionist_count} view(s)" %>
            <h4>Tags:</h4><%= render @post.tags %>
          </div>

          <h2>Comments</h2>
          <%= render @post.comments %>

          <h2>Add a comment:</h2>
          <%= render "comments/form" %>

        </div>
    </div>
  </div>
</div>


